* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #413f3f;
}

div > header {
  display: flex;
  height: 120px;
  background-color: black;
  flex-basis: 100%;
}
.mazda {
  flex-basis: 100%;
}
a > img {
  position: absolute;
  width: 18-px;
  height: 120px;
}
.menu {
  display: flex;
  visibility: hidden;

  flex-basis: 100%;
  height: 120px;
  left: 0px;
  top: 120px;
  font-family: "Inter";
  font-style: normal;

  font-size: 40px;
  line-height: 48px;

  justify-content: space-around;
  color: #ffffff;
  background-color: #2e2d2d;
  align-items: center;
  text-decoration: none;
}
.menu1 {
  background-color: #2e2d2d;
  text-decoration: none;
  color: white;
}
.nav {
  position: absolute;
  width: 50px;
  height: 6px;
  display: flex;
  flex-direction: column;
  left: 95%;
  background: #d9d9d9;
  border-radius: 50px;
}
#nav1 {
  top: 2.5em;
}
#nav2 {
  top: 3.3em;
}
#nav3 {
  top: 4.1em;
}
.tak {
  background-color: #7e0a0a;
  padding: 1em;

  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 15%;
}
.formularz {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #7e0a0a;
  font-size: 1.5em;
}
.wybor {
  color: white;
  background-color: black;
  font-size: 1em;
  width: 20%;
}
.btn {
  padding: 30px;
  border-radius: 8px;
  position: absolute;
  left: 10.2%;
  top: 40%;
  display: flex;
  flex-direction: column;
  background-color: #2e2d2d;
  font-size: large;
}
