* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #413f3f;
}
.container * {
  display: flex;
  flex-wrap: wrap;
}
div > header {
  display: flex;
  height: 120px;
  background-color: black;
  flex-basis: 100%;
}
.mazda {
  flex-basis: 100%;
}
a > img {
  position: absolute;
  width: 18-px;
  height: 120px;
}
.menu {
  display: flex;
  visibility: hidden;

  flex-basis: 100%;
  height: 120px;
  left: 0px;
  top: 120px;
  font-family: "Inter";
  font-style: normal;

  font-size: 40px;
  line-height: 48px;

  justify-content: space-around;
  color: #ffffff;
  background-color: #2e2d2d;
  align-items: center;
}
.menu1 {
  background-color: #2e2d2d;
  text-decoration: none;
  color: white;
}
.a1 {
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-basis: 50%;
  flex-wrap: wrap;
}
.a2 {
  display: flex;
  justify-content: right;
  flex-direction: column;
  flex-basis: 50%;
  flex-wrap: wrap;
}
.a1 > header {
  position: absolute;
  width: 800px;
  height: 125px;
  left: 11%;
  top: 2em;
  display: felx;
  font-family: "Inter";
  font-style: normal;

  font-size: 80px;
  /* line-height: 116px; */

  color: #000000;
}
.a1 > img {
  position: absolute;
  width: 40%;
  height: 45%;
  left: 3%;
  top: 25%;
}
.a2 > p {
  background-color: #7e0a0a;
  padding: 1em;
  border-radius: 10px;
  width: 40%;
  height: 70%;
  left: 55%;
  display: flex;
  position: absolute;

  font-family: "Inter";
  font-style: normal;

  font-size: 28px;
  line-height: 44px;

  color: #ffffff;
}
.nav {
  position: absolute;
  width: 50px;
  height: 6px;
  display: flex;
  flex-direction: column;
  left: 95%;
  background: #d9d9d9;
  border-radius: 50px;
}
#nav1 {
  top: 2.5em;
}
#nav2 {
  top: 3.3em;
}
#nav3 {
  top: 4.1em;
}
