* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: #413f3f;
}
.container * {
  display: flex;
  flex-wrap: wrap;
}
div > header {
  display: flex;
  height: 120px;
  background-color: black;
  flex-basis: 100%;
}
.mazda {
  flex-basis: 100%;
}
a > img {
  
  
  height: 120px;
}
.menu {
  display: flex;
  visibility: hidden;

  flex-basis: 100%;
  height: 10%;

  top: 10%;
  font-family: "Inter";
  font-style: normal;

  font-size: 40px;
  line-height: 300%;

  justify-content: space-around;
  color: #ffffff;
  background-color: #2e2d2d;
  align-items: center;
  text-decoration: none;
}
.menu1 {
  background-color: #2e2d2d;
  text-decoration: none;
  color: white;
}
.a1 {
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-basis: 50%;
  flex-wrap: wrap;
}
.a2 {
  display: flex;
  justify-content: right;
  flex-direction: column;
  flex-basis: 50%;
  flex-wrap: wrap;
}

.a2 > header {
  position: absolute;
  
  width: 40%;
  left: 55%;
  top: 15%;
  font-family: "Inter";
  font-style: normal;

  font-size: 80px;

  color: #000000;
}
.a2 > p {
  background-color: #7e0a0a;
  padding: 1em;
  border-radius: 10px;
  width: 35%;
  height: 60%;

  top: 30%;
  position: absolute;

  left: 55%;
  top: 30%;
  overflow: scroll;
  font-family: "Inter";
  font-style: normal;

  font-size: 36px;

  color: #ffffff;
}
.btn {
  width: 300%;
  
  background: #7e0a0a;
  border: 1px solid #000000;
  border-radius: 45px;
  font-family: "Inter";
  font-style: normal;

  font-size: 48px;
  line-height: 200%;
  text-align: center;
  color: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  flex-basis: 55%;
  justify-content: center;
  align-items: center;
  align-self: center;
}
/* .btn > p{
    left: 5em;
    background-color: #7E0A0A;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.a1 > img {
  position: absolute;
  width: 32%;
  height: 35%;
  display: flex;
  left: 7em;
  top: 9.5em;
}
.guziki {
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 51%;
  left: 9%;
  width: 8%;
  align-items: center;
}
.nav {
  position: absolute;
  width: 50px;
  height: 6px;
  display: flex;
  flex-direction: column;
  left: 95%;
  background: #d9d9d9;
  border-radius: 50px;
}
#nav1 {
  top: 2.5em;
}
#nav2 {
  top: 3.3em;
}
#nav3 {
  top: 4.1em;
}
